<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Us</h2>
        <hr class="star-light-2">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>XBirds is a software development outsourcing team committed to delivering high-quality products to our clients within a short timeframe.</p>
      </div>
      <div class="col-lg-4">
        <p>We prioritize the application of <strong style="color: #0082ff;">Agile methodologies</strong> in software development to ensure flexibility and efficiency in our work.</p>
      </div>
       <div class="col-lg-8 col-lg-offset-2 text-center">
         <p>Our focus is on developing <strong style="color: #0082ff;">Blockchain/Web3</strong> and <strong style="color: #0082ff;">Automated Testing</strong>.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="files/deck_Xbirds_s.pdf" target="_blank" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Profile
        </a>
      </div>
    </div>
  </div>
</section>
