<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Us</h2>
        <hr class="star-light-2">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>XBirds is a software development outsourcing team committed to delivering high-quality products to our clients within a short timeframe.</p>
         <p>We are an experienced team, with all members coming from the field of information technology and having several years of experience in software development.</p>
      </div>
      <div class="col-lg-4">
        <p>We prioritize the application of Agile methodologies in software development to ensure flexibility and efficiency in our work.</p>
        <p>Our focus is on developing Blockchain/Web3 and Automated Testing.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Profile
        </a>
      </div>
    </div>
  </div>
</section>
